@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --primary-color: hsl(259, 100%, 65%);
    --secondary-color: hsl(0, 100%, 67%);
    --white-color: hsl(0, 100%, 100%);
    --grey-color1: hsl(0, 1%, 44%);
    --grey-color2: hsl(0, 0%, 86%);
    --black-color4: hsl(0, 0%, 0%);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Poppins, sans-serif;
    background-color: var(--grey-color2);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
label{
    font-size: small;
    color: var(--grey-color1);
    font-weight: 500;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.wrapperCreds{
    width: 700px;
    background-color: var(--white-color);
    padding: 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    border-end-end-radius: 80px;
}
.wrapperCreds form{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.wrapperCreds input{
    margin: 2px;
    padding: 10px;
    padding-right: 30px;
    border-radius: 5px;
    border: 1px solid var(--grey-color2);
    font-size: larger;
    font-weight: bold;
}
.wrapperCreds input:hover{
    border: 1px solid var(--primary-color);


}
.wrapperCreds input:focus{
    border: 1px solid var(--primary-color);

}
.wrapperCreds button{
    border-radius: 100%;
    padding: 15px;
    border: none;
    background-color: var(--primary-color);
    transition: background-color 0.15s ease-in;
    transform: translateY(2rem);

}

.wrapperCreds button:hover{
    cursor: pointer;
    background-color: black;
    
}
.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.datesDiv{
    display: flex;
    flex-direction: row;
    width: 50%;
}
.submitDiv{
    display: flex;
    justify-content: flex-end;
    border-bottom: solid 1px var(--grey-color2);
}
.days{
    display: flex;
    flex-direction: column;
    width: 33%;
    margin: 10px;
}
.months{
    display: flex;
    flex-direction: column;
    width: 33%;
    margin: 10px;

}
.years{
    display: flex;
    flex-direction: column;
    width: 33%;
    margin: 10px;

}
.result{
    font-size: 80px;
    font-weight: bolder;
}
.num{
    color: var(--primary-color);
}
.errorClass{
    border: 1px solid ;
}

